/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Define custom variables and styles */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

.content {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 50px;
  text-align: center;
  height: 80vh;
}

.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar {
  position: relative;
  z-index: 10;
  background-color: white;
}

.footer {
  background-color: lightslategray;
}


.fixed-bg {
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  text-align: left;
  left: 110px;
  top: -80px;
}

.fixed-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.button.get {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  color: white;
  border-radius: 0;
  font-size: 16px;
  padding: 14px 28px;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.button.get:hover {
  background-color: #6a6a6a; /* Lighter shade on hover */
  border-color: #6a6a6a;
  transform: scale(1.1); /* Slightly bigger on hover */
  cursor: pointer;
}


